@import("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
 body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #404040;
    background-color: #af93d1;
    font-weight: 300;
    letter-spacing: .2rem;
    justify-content: space-evenly;
    height: 97vh;
    align-items: center;
}

.container {
    border: 1px solid #2c2424;
    padding: 1.8rem;
    margin: 1%;
    min-height: 30vh;
    background:#fff;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width:80vh;
  
}
h2 {
  text-align:center;
  text-shadow: 3px 4px 7px #ddd;
}
#slide1, #slide2 {
    overflow: hidden;
  box-shadow:3px 3px 20px #555;
}

section {
  display: flex;
  justify-content: space-between;
  
}

i.slider1next, i.slider2next {
    padding: 1.5rem;
    color: #000;
    cursor: pointer;
    flex: 0 0 15px;
}
i.slider1prev, i.slider2prev {
    padding: 1.5rem;
    color: #000;
    cursor: pointer;
    flex: 0 0 15px;
}

.slider {
    display: none;
    margin: 0 auto;
}
.slider:first-of-type {
  display:block;
}

@media screen and (max-width:475px) {
  .container {
    margin: 1% 1%;
    min-height: 30vh;
  }
}